# Backend API URL (Optional in Mock Mode)
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Standalone Frontend Mock Server Toggle
# Set to 'true' to run frontend standalone without backend.
# Set to 'false' when connecting to live Django backend.
NEXT_PUBLIC_ENABLE_MOCKS=true
