Django
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular

psycopg[binary]

redis

celery
django-celery-beat

python-decouple

Pillow

django-storages
boto3

gunicorn

whitenoise

pytest
pytest-django
factory-boy

black
ruff
mypy
pre-commit

uvicorn

django-mptt