Django
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular
django-cors-headers

psycopg[binary]

redis~=5.0.0

celery~=5.3.0
django-celery-beat~=2.6.0

python-decouple

Pillow

django-storages
boto3

gunicorn

whitenoise

pytest
pytest-django
factory-boy

black
ruff
mypy
pre-commit

uvicorn

django-mptt